#blogposts{
  display: flex;
  flex-direction: column;
  width: 75%;
}

#blogheading{
  text-align: left;
  margin-inline-start: 5px;
}

#allpoststitle{
  font-size: 25px;
}

.blog{
  border:1px solid black;
  margin: 5px;
}

.blog > *{
  margin-left: 10px;
  margin-right: 10px;
}

.blog img{
  max-width: 95%;
}

.blog p{
  text-align: justify;
  text-justify: inter-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.pagenumber{
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#showbymonth{
  width: 25%;
  align-self: start;
}

#yearlist{
  border:1px solid black;
  font-size: 15px;
}

#yearlist ul li a:visited{
  text-decoration: none;
  color: blue;
}

@media only screen and (max-width: 800px){
  #mainblogcontent{
    flex-direction: column;
  }

  #blogposts{
    width: 100%;
    order: 2;
  }

  #showbymonth{
    width: 100%;
    order: 1;
  }
}